{
  "root": true,
  "extends": "@auvred",
  "overrides": [
    {
      "files": ["./tests/types/**/*.test.ts"],
      "rules": {
        "unused-imports/no-unused-vars": [
          "error",
          {
            "varsIgnorePattern": "^(ExpectType_|ExpectError_)"
          }
        ]
      }
    }
  ]
}
